
body{
  background-color: #424242;
  margin: 0 auto;
  width: 95%;
}

h1 {
  line-height: 100%;
  
  font-family: Helvetica;
  font-size:300%;
  color:rgb(255,255,255);
  text-shadow: 0 0 20px #000;
  text-align: left;
  
  border-radius: 10px;
  padding-left: 20px;
  margin-top:25px;
  padding-bottom: 5px;
  margin-left:5px;
  margin-bottom: 50px;

}

h2{
  line-height: 100%;
  
  font-family: Helvetica, Georgia, Arial, "Times New Roman";
  font-size:200%;
  color:#03DAC6;
  background-color:#6320EE;
  text-align: left;
  padding: 8px;
  text-shadow: 0 0 3px #000;
  font-weight: bold;
}

section {
  display:inline-block;
  height: 130px;
  width:99%;
  margin: 20px 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius:15px;
  border-radius: 15px;
  background-color: #8075FF;
  border: solid 1px #080808;
  overflow: hidden;
  perspective: 1px;
  padding-bottom: 8px;
  

  
}

nav {
  line-height: 150%;
  background-color:#8075FF;
  text-align: left;
  font-family: Georgia,Arial, "Times New Roman";
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius:15px;
  border: solid 1px #080808;
  margin: 20px 10px;
  border-radius: 10px;
  overflow: hidden;
  perspective: 1px;
}



li {
  
  font-family: Helvetica,Georgia, Arial, "Times New Roman";
  font-size:115%;
  color:rgb(0,0,0);
  text-shadow: 0 0 1px #000;
  
}

label {
  font-variant: small-caps;
  font-family: Helvetica,Georgia, Arial, "Times New Roman";
  font-size:115%;
  color:rgb(0,0,0);
  text-shadow: 0 0 1px #000;
  

}

summary {
  font-variant: small-caps;
  font-family: Helvetica,Georgia, Arial, "Times New Roman";
  font-size:115%;
  color:rgb(0,0,0);
  text-shadow: 0 0 1px #000;
  padding: 20px 10px;
  
}

p {
  font-variant: small-caps;
  font-family: Helvetica,Georgia, Arial, "Times New Roman";
  font-size:115%;
  color:rgb(0,0,0);
  text-shadow: 0 0 1px #000;
  font-style: italic;
  padding-left:10px;
  
}

footer {
  display: inline-block;
  margin: 30px 10px;
  background-color:#8075FF;
  border: solid 1px #080808;
  padding: 10px;
  border-radius: 10px;
}

#footertext {
  
  font-family: Helvetica,Arial, Georgia, "Times New Roman";
  font-size:100%;
  color:rgb(0,0,0);
  text-shadow: 0 0 1px #000;
  font-weight: bold;
}

ul {
  padding-left: 10px;
  padding-top:10px;
}

div {
  padding: 20px 10px;
}

a {
  display:inline-block;
  text-shadow: 0 0 1px #000;
  color: rgb(0,0,0);
  background-color:#03DAC6;
  text-decoration: none;
  padding: 5px;
  margin:5px;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 10px; 
  font-weight: bold;
}

img {

  width: 150px;
}

.animate{
  background:#03DAC6;
  -webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
  -webkit-border-radius:5px;
  -o-transition-property:width,height,-o-transform,background,font-size,opacity;
  -o-transition-duration:1s,1s,1s,1s,1s,1s;
  -moz-transition-property:width,height,-o-transform,background,font-size,opacity;
  -moz-transition-duration:1s,1s,1s,1s,1s,1s;
  transition-property:width,height,transform,background,font-size,opacity;
  transition-duration:1s,1s,1s,1s,1s,1s;
  
}

.animate:hover{
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity:1;
  background:#1ec7e6;
  
}

.animate:focus{
  background:rgb(255,255,255);
}